*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contianer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
}
.contianer-card{
    width: 100%;
    height: 40%;
box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
display: flex;
justify-content: space-around;
align-items: center;
}
.card{
   position: relative;
  background: #7b5cff;
  border-radius: 16px;
  padding: 30px;
  color: #fff;
  overflow: hidden;
    height: 90%;
    width: 20%;
    
}
.card::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 300px;
  background: radial-gradient(circle, rgba(255,255,255,0.4), transparent 70%);
  transform: translate(-50%, -50%);
}
.icon{
  display: flex;
  justify-content: space-between;
 
  width: 90%;

  margin: auto;
}
.icon i{
  font-size: 40px;
  color: #fff;
  margin-top: 50px;
}
span{
  font-size: 80px;
  font-weight: 800;
  color: transparent;              
  -webkit-text-stroke: 2px #f6f1f1;   
}
.card-content{
width: 90%;
margin: auto;
  margin-top: 20px;
}
.card-content h2{
  font-size: 25px;
  color: #fff;
  margin-bottom: 10px;
  
}